<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newsapp.newsmind.mapper.CodeMapper">
    <select id="selectCodeList" resultType="map">
        SELECT
            code_ty,
            code,
            code_ty_nm,
            code_nm,
            enabled,
            code_ord
        FROM code
        <where>
            enabled = 1
            <if test="codeTy != null">
              AND code_ty = #{codeTy}
            </if>
            <if test="code != null">
                AND code = #{code}
            </if>
        </where>
        ORDER BY code_ord
    </select>

</mapper>
