<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>NewsMind - Feed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/feed.css">
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/feed.js" defer></script>
</head>
<body>

<div class="feed-container">

    <!-- 헤더 -->
    <header class="header">
        <div class="header-left">
            <img src="https://img.icons8.com/?size=100&id=15263&format=png&color=FFFFFF" class="profile-icon" alt="user-male-circle"/>
        </div>
        <div class="header-title">News Mind</div>
        <div class="header-right">
            <img src="https://img.icons8.com/?size=100&id=59878&format=png&color=FFFFFF" class="search-icon" alt="user-male-circle"/>
        </div>
    </header>

    <!-- 추천 뉴스 타이틀 -->
    <section class="section-title">
        <span class="emoji">💬</span>
        <h3>추천 뉴스</h3>
        <button class="refresh-btn" onclick="refresh()">
            <img class="refresh-btn" src="https://img.icons8.com/?size=100&id=59872&format=png&color=9c9c9c">
        </button>
        <button class="setting-btn" onclick="location.href='/settings/country?mode=edit'">
            <img class="setting-btn" src="https://img.icons8.com/?size=100&id=83214&format=png&color=9c9c9c">
        </button>
    </section>

    <!-- 뉴스 리스트 -->
    <div id="newsList" class="news-list"></div>

</div>

</body>
</html>
