spring:
  application:
    name: NewsMind
  datasource:
    url: jdbc:mysql://localhost:3306/newsmind?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: newsmind
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}     # ????
      chat:
        options:
          model: gpt-4o-mini
logging:
  level:
    org.hibernate.SQL: debug