
.keyword-input-box {
    display: flex;
    gap: 10px;
    margin-bottom: 14px;
}

.keyword-input-box input {
    flex: 1;
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid #d7d7d7;
    font-size: 14px;
}

#addBtn {
    background: #e7eefc;
    border: 1px solid #b3c7f4;
    font-size: 14px;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
}

.keyword-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 40px;
}

.tag {
    background: #f5f7fb;
    border: 1px solid #c7d4ec;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.tag .remove {
    cursor: pointer;
    font-weight: 700;
    color: #555;
}
